The code environment we decided to use as a group was VScode, there a lot of benefits to using this environment for example it's ability to link you to plug-ins directly and to input them into codes is very nice to have. As of now we don't have much in the idea of third party development tools, but for our databasing purposes we will be inputting MySQL into our project. The platforms we are going to be reaching Mac/OS, and Windows with our website we feel like it makes the most sense to be using these operating systems. For our programming languages we are going to be using HTML/CSS for the front-end of the website, and we will be using Javascript for the back end. As Discord is our means of communication we will mainly be using that for managing project times and issues in the project. We will use Github as well to keep track of coding issues. 