body {
	font-family: Arial, sans-serif;
	background-color: #F5F5F5;
	margin: 0;
}

header {
	background-color: #FFC107;
	padding: 20px;
	text-align: center;
	color: white;
}

nav {
	background-color: #333;
	overflow: hidden;
}

#nav ul {
    display: inline-block;
    list-style-type: none;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #111;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 20px;
}
.mission {
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.description {
	text-align: center;
	font-size: 20px
}
h1 {
	
	font-size: 36px;
}
h2 {
	color: #FFC107;
	font-size: 26px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}
nav ul li:nth-child(4) {
	float: right;
  }
.item-box {
	border: 2px solid black;
	padding: 10px;
	margin-bottom: 20px;
  }
  .price-quantity {
	display: flex;
	justify-content: space-between;
  }
  
  .price-container {
	flex-grow: 1;
  }
  
  .buttons-container {
	margin-left: 20px;
  }
  .buttons{
	display: flex;
	flex-direction: row;
	gap: 8px;
	font-size: 20px;
	padding-top: 20px;
}

.bi-dash-lg{
	color: red;
}

.bi-plus-lg{
	color: green
}
.CheckClear {
	text-align: center;
  }
  
  .CheckClear button {
	display: inline-block;
	margin: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
  }
  
  .CheckClear .checkout {
	background-color: #4CAF50;
	display: inline-block;
  }
  
  .CheckClear .removeall {
	background-color: #f44336;
	display: inline-block;
  }
  
.shopping-cart{
	display: grid;
	grid-template-columns: repeat(1,440px);

	
	justify-content: center;
	gap: 15px;
	/* border: 2px solid red; */
}

/* *! Style rule for cart Item */

.cart-item{
	border: 2px solid #111 ;
	align-items: center ;
	border-radius: 5px;
	display : flex;
	height: 120px;
	
	
	
	/* border: 2px solid red; */
		
}
.title-price-x{
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	/* border: 2px solid red;  */
}

.title-price{
	display: flex;
	align-items: center;
	gap: 130px;
	/* border: 2px solid red; */
	margin-top: -20px; 
	
}
.buttons_cart{
	display: flex;
	flex-direction: row;
	gap: 8px;
	font-size: 20px;
	padding-top: 20px;
	margin-top: -50px;
}
.cart_price{
	position: absolute top;
	margin-top: -5px;
	left: 210px;
	bottom: 30px;
	/* border: 2px solid red;  */

}

footer {
	background-color: #333;
	color: white;
	padding: 20px;
	text-align: center;
}
  
  .price {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-weight: bold;
  }
input[type=text], textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  @media (min-width: 600px){
	h1{
		font-size: 2em;
		letter-spacing: .25em;
	}
	nav ul{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		padding-right: 2em;
	}}

@media (min-width: 1024px){
	
	nav ul{
		padding-right: 10%;
		padding-left: 10%;
	}
}
